* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

button {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 0.3em 0.3em;
    margin-top: 0.75em;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(0.98);
}

input {
    width: 8.75em;
}

pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    column-count: 2;
    column-gap: 25px;
    column-rule: 1px double gray;
}
