<template>
  <div>
    <h1>{{ title }}</h1>
    <div class="d-flex justify-content-center">
      <input
        class="form-control"
        v-model="list"
        v-on:keyup.enter="getPattern()"
        placeholder="List"
      />
    </div>
    <div class="d-flex justify-content-center">
      <input
        class="form-control"
        v-model.number="maxLen"
        v-on:keyup.enter="getPattern()"
        placeholder="Length"
        type="number"
      />
    </div>
    <div>
      <button class="btn btn-dark btn-lg" @click="getPattern()" role="button">
        Generate
      </button>
    </div>

    <div v-if="errors.length > 0">
      <div
        v-for="error in errors"
        :key="error"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <p>{{ error }}</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <pre v-else>{{ pattern }}</pre>
  </div>
</template>

<script>
export default {
  name: "GenPatterns",
  data() {
    return {
      title: "Pattern Generator",
      pattern: "",
      maxLen: 3,
      list: "R,L",
      errors: [],
    };
  },
  methods: {
    getPattern() {
      function getPermutations(list, maxLen) {
        var perm = list.map(function (val) {
          return [val];
        });
        var generate = function (perm, maxLen, currLen) {
          if (currLen === maxLen) {
            return perm;
          }
          for (var i = 0, len = perm.length; i < len; i++) {
            var currPerm = perm.shift();
            for (var k = 0; k < list.length; k++) {
              perm.push(currPerm.concat(list[k]));
            }
          }
          return generate(perm, maxLen, currLen + 1);
        };
        return generate(perm, maxLen, 1);
      }
      if (
        this.maxLen &&
        typeof this.maxLen === "number" &&
        this.maxLen % 1 === 0 &&
        this.maxLen > 0 &&
        // Let's set a limit
        this.maxLen < 17
      ) {
        this.errors.shift("Length should be an integer greater than zero.");
        // Check if list is comma separated
        if (/[,]/.test(this.list)) {
          var arr = this.list.split(",");
          var results = getPermutations(arr, this.maxLen);
          this.pattern = results
            .map((line, index) => `${index + 1}. ${line}`)
            .join("\n")
            .replace(/,/g, " ");
          this.errors.shift("List should be comma separated.");
        } else {
          var listMessage = "List should be comma separated.";
          if (this.errors.indexOf(listMessage) === -1) {
            this.errors.push(listMessage);
          }
        }
      } else {
        var lenMessage = "Length should be an integer greater than zero.";
        if (this.errors.indexOf(lenMessage) === -1) {
          this.errors.push(lenMessage);
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  margin: 40px 0 0;
  color: #0c0c0c;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.3em 0.3em;
  margin-top: 0.5em;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.98);
}

input {
  width: 8.75em;
  margin-bottom: 0.25em;
}

pre {
  font-size: 120%;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: left;
}

.alert {
  width: fit-content;
  padding-top: 1.5em;
  padding-right: 3.5em;
  margin: 0 auto;
  margin-top: 1.25rem;
}
</style>
