<template>
  <GenPatterns />
</template>

<script>
import GenPatterns from "./components/GenPatterns.vue";

export default {
  name: "App",
  components: {
    GenPatterns,
  },
};
</script>

<style>
#app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
